.App {
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  --accent: #b101b1;
}

input[type="date"] {
  font-family: "Poppins", sans-serif;
  /* background-color: #0080ff; */
  color: #616161;
  font-size: clamp(1rem, 3vw, 3rem);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  transition: box-shadow 200ms;
}

input[type="date"]:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 54px 0px;
}

::-webkit-calendar-picker-indicator {
  margin-left: 1rem;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.get-button {
  background-color: var(--accent);
  color: white;
  width: 3rem;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 50%;
  font-size: 3rem;

  display: grid;
  place-content: center;

  cursor: pointer;

  transition: transform 200ms;
}

.get-button:hover {
  transform: translateY(-2px);
}

.get-button:active {
  transform: translateY(4px);
}

.content {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  font-size: clamp(2rem, 8vw, 5rem);
  font-style: italic;
}

.content .number {
  color: var(--accent);
}
